// VARIABLES
// $primary: dodgerblue;
// $accent: green;
// $black: black;
// $white: white;

// GLOBAL STYLES
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: rgba(236, 240, 241,1.0);
}

button{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
    font-weight: bold;
    background-color: rgba(236, 240, 241,1.0);
    color: rgba(44, 62, 80,1.0);

}
