@import "_global";

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
}

header{
    background-color: yellow;
    flex-basis: 15vh;
}

#field{
    position: relative;
    background-color: green;
    flex-basis: 70vh;
}

.ball {
    text-shadow: 0 0 5px white;
    position: absolute;
}

#start-btn {
    justify-self: center;
    align-self: center;
    padding: 1rem;
    border-radius: 6px;
    border: none;
    outline: none;

}

.heading{
    
}

#timer{
    // color: white;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}