@import "_global";

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
}

.ball {
    text-shadow: 0 0 5px white;
    position: absolute;
}

#start-btn {
    padding: 1rem;
    border-radius: 6px;
    border: none;
    outline: none;

}

#timer{
    // color: white;
}